[submodule "NicTool"]
	path = NicTool
	url = https://github.com/NicTool/NicTool.git
	branch = master
[submodule "api"]
	path = api
	url = https://github.com/NicTool/api.git
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/NicTool/server.git
	branch = main
[submodule "libs/dns-zone"]
	path = libs/dns-zone
	url = https://github.com/NicTool/dns-zone.git
	branch = main
[submodule "libs/dns-nameserver"]
	path = libs/dns-nameserver
	url = https://github.com/NicTool/dns-nameserver.git
	branch = main
[submodule "libs/dns-resource-record"]
	path = libs/dns-resource-record
	url = https://github.com/NicTool/dns-resource-record.git
	branch = main
[submodule "libs/validate"]
	path = libs/validate
	url = https://github.com/NicTool/validate.git
	branch = main
[submodule "research"]
	path = research
	url = https://github.com/NicTool/research.git
	branch = main
